* {
    bg:             #050506E9; 
    bg-alt:         #16161aE9;
    fg:             #f8fafc;
    accent:         #bf94ff;
    
    blue:           #475569;
    urgent:         #ff4d4d;
    active:         #16161aE9;
}
