@theme "/dev/null"
@import "colors.rasi"

configuration {
    modi:                        "drun,run";
    show-icons:                  true;
    display-drun:                "";
    drun-display-format:         "{name}";
    font:                        "JetBrainsMono Nerd Font 12";
}

window {
    width:                       500px; 
    enabled:                     true;
    border:                      2px solid;
    border-color:                @accent;
    background-color:            @bg;
}

mainbox {
    spacing:                     0px;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
    padding:                     15px;
}

inputbar {
    spacing:                     10px;
    margin:                      0px 0px 10px 0px;
    padding:                     10px 15px;
    background-color:            @bg-alt;
    text-color:                  @fg;
    border-radius:               2px;
    children:                    [ "prompt", "entry" ];
}

prompt {
    background-color:            transparent;
    text-color:                  @accent;
}

entry {
    background-color:            transparent;
    text-color:                  inherit;
    placeholder:                 "Search...";
    placeholder-color:           @active;
}

listview {
    columns:                     1;
    lines:                       6;
    fixed-height:                true;
    spacing:                     4px;
    background-color:            transparent;
    text-color:                  @fg;
    scrollbar:                   true;
}

scrollbar {
    width:                       4px;
    border:                      0;
    handle-width:                8px;
    handle-color:                @accent;
    background-color:            @bg-alt;
    margin:                      0px 0px 0px 10px;
}

element {
    spacing:                     12px;
    padding:                     8px;
    border-radius:               2px;
    background-color:            transparent;
    text-color:                  @fg;
}

element normal.normal {
    background-color:            transparent;
    text-color:                  @fg;
}

element selected.normal {
    background-color:            @accent;
    text-color:                  @bg;
}

element-icon {
    size:                        24px;
    background-color:            transparent;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    vertical-align:              0.5;
}
