@import "colors.css";

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

/* Window and tooltip backgrounds */
window,
tooltip {
    background-color: @bg;
}

/* Waybar main bar */
#waybar {
    background-color: alpha(@bg, 0.7);
    border-radius: 0;
}

/* --- WORKSPACES --- */
#workspaces {
    margin: 1px 0;
}

#workspaces button {
    color: @fg;
    border: 2px solid transparent;
    padding: 0 8px;
    margin: 0 2px;
}

#workspaces button:hover {
    color: @lavender;
    border: 2px solid alpha(@lavender, 0.4);
    background-color: alpha(@surface, 0.6);
}

#workspaces button.active,
#workspaces button.focused {
    color: @lavender;
    border: 2px solid @lavender;
}

#workspaces button.urgent {
    background-color: @red;
}

/* --- TASKBAR --- */
#taskbar button {
    color: @fg;
    padding: 0 8px;
    margin: 0 4px;
    border-bottom: 3px solid transparent;
    border-radius: 0;
}

#taskbar button:hover {
    background-color: alpha(@surface, 0.6);
}

#taskbar button.active {
    color: @lavender;
    border-bottom: 3px solid @lavender;
    background-color: alpha(@lavender, 0.1);
}

/* --- OTHER MODULES --- */
#custom-power,
#tray,
#network,
#pulseaudio,
#clock {
    color: @fg;
    margin: 1px 0;
    padding: 0px 10px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

#custom-power:hover,
#network:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: alpha(@surface, 0.6);
}

#network {
    color: white;
}

#pulseaudio {
    color: @lavender;
    padding-right: 20px;
}

#clock {
    color: @blue;
    margin-right: 10px;
}

#custom-power {
    margin-left: 10px;
}

#custom-expand-icon {
    margin-right: 10px;
    color:@fg;
}
