@import "colors.css";

/* Global Resets */
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: alpha(@bg, 0.85);
    color: @fg;
}

/* Common Module Base */
#custom-power,
#taskbar,
#window,
#workspaces,
#mpris,
#tray-expander,
#network,
#pulseaudio,
#clock {
    background-color: transparent;
    margin: 4px 5px;
    padding: 0 4px;
    border-radius: 2px;
    transition: background-color 0.1s ease;
}

/* Left Modules */
#custom-power {
    color: @red;
}

#taskbar button {
    padding: 0 8px;
    margin: 0 6px;
    border-radius: 2px;
}

#taskbar button.active {
    background-color: alpha(@fg, 0.2);
}

#window {
    font-weight: 500;
}

/* Center Modules */
#workspaces {
    background-color: rgba(88, 91, 112, 0.1);
}

#workspaces button {
    color: @fg;
    padding: 0 8px;
    margin: 3px 2px;
    border-radius: 2px;
    transition: all 0.2s ease;
}

#workspaces button.active,
#workspaces button.focused {
    color: @bg;
    background-color: @lavender;
}

#workspaces button.urgent {
    color: @bg;
    background-color: @red;
}

/* Right Modules */
#mpris, 
#pulseaudio, 
#custom-expand-icon {
    color: @lavender;
}

#network, 
#clock {
    color: @fg;
}

/* Hovers */
#taskbar button:hover,
#network:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: alpha(@surface, 0.5);
}

#custom-expand-icon {
    margin-right: 5px;
}
